body{
  background-image: url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3JtMjk2LW5pbmctMTAtam9iNTk4LmpwZw.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}
.clock-container{
  backdrop-filter: blur(5px);
  width: 100vw;
  padding: 10px 0px;

}
.clock{
  color: white;
  font-size: 6rem;
  font-weight: bold;
  font-family:'Courier New', Courier, monospace;
  text-align: center;
  margin-top: 325px;
  text-shadow: 10px 10px 10px rgb(15, 14, 15);

}