body{
  background-image: url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3JtMjk2LW5pbmctMTAtam9iNTk4LmpwZw.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}
.clock-container{
  backdrop-filter: blur(5px);
  width: 100vw;
  padding: 10px 0px;

}
.clock{
  color: white;
  font-size: 6rem;
  font-weight: bold;
  font-family:'Courier New', Courier, monospace;
  text-align: center;
  margin-top: 325px;
  text-shadow: 10px 10px 10px rgb(15, 14, 15);

}
@media (max-width: 600px) {
  .clock {
    font-size: 3rem;
    margin-top: 250px;
    text-shadow: 5px 5px 5px rgb(15, 14, 15);
  }

  .clock-container {
    padding: 20px 0;
  }
}
@media (max-width: 900px) {
  .clock {
    font-size: 4.5rem;
    margin-top: 300px;
  }
}
@media (max-width: 1200px) {
  .clock {
    font-size: 5.5rem;
    margin-top: 320px;
  }
}
